
<div class = "row">
<div class="col">
</div>
<div class="col">
<form action='/<%= idea.id %>' method='POST'>
  <p>
    <% if idea.id %>
      Edit your Idea:
    <% else %>
      Your Idea:
    <% end %>
  </p>

  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>

    <div class="input-group mb-3 input-group-md">

      <input type='text' class= "form-control" name='idea[title]' value="<%= idea.title %>"/><br/>

      </div>

    <div class="input-group mb-3 input-group-sm">

      <textarea class= "form-control" name='idea[description]'><%= idea.description %></textarea><br/>

    </div>

    <div class="input-group mb-3 input-group w-75">
      <input class= "form-control" type='text' placeholder="Tags" name='idea[tag]'/><br/>
      </div>


  <input type='submit' class="btn btn-light"/>


</form>
</div>
<div class="col">
</div>
</div>