

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <h3>Activity by time</h3>
        <%=line_chart(Stats.hourCreated(ideas))%>
      
    </div>
    <div class="col-12 col-md-4 ">
      <h3>Actvity by date</h3>
        <%=line_chart(Stats.dateCreated(ideas))%>
  
    </div>
    <div class="col-12 col-md-4 ">
      <h3>Actvity by day</h3>
      <%= column_chart(Stats.dayCreated(ideas)) %>
    </div>
  </div>

<form action='/' method='GET' >
                  <input type='submit' class="btn btn-outline-secondary" value="Return"/>
                </form>